</div>
</div>
<!--  -->
<div class="footer">
    <div class="text-center">
        <hr>
        <p class="text-dark">
            Copyright here
        </p>
    </div>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script>
    window.jQuery || document.write('<script src="../assets/assets/js/vendor/jquery.js"><\/script>')
</script>
<script src="../../assets/assets/js/vendor/popper.min.js"></script>
<script src="../../assets/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>